[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
flappy_one = "8b4U8WX2SNJ1p53m2w6GcMjCooo7KTGdWZiFBmcZ4MwK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
